$color_brown:rgb(100, 65, 9);
$color_yellow:#6e32b3;
$color_blue:rgba(139, 247, 187, 0.685);
$color_bluebb:#cbeaf7b6;
$color_green:green;
$color_blu:rgb(132, 203, 236);
$color_red:rgb(95, 9, 9);
$title: 35px;
$font_size:35px;


html {
    scroll-behavior: smooth;

}

body{margin: 0;}
a{color: $color_brown;}
a:hover{color: $color_yellow;}







.nav{width: 100%;
    height: 70px;
    background-color: $color_blu;
    display: flex;justify-content: center;
    padding: 20px;

}

.tet{height: 50px;
    color:$color_red;

font-size: 20px;
margin-right: 10px;}
.tet:hover{padding: 10px;}
.btn1{height: 50px;
font-size: 20px;
color: $color_green;}

.btn1:hover{color:$color_yellow;
    font-size: 30px;
}


.box{width: 100%;background-color:$color_blue;
display: flex;justify-content: center;
}
.title{font-size:$title;
width: 1140px;
text-align: center;}

.conter_1{display: flex;justify-content:center ;
         background-color:$color_bluebb;
         padding: 0;   
       .text{ color:$color_brown;
         padding:30px 0px;
     
text-align:center;
font-family: 'Times New Roman', Times, serif;

}

#photo_padding{padding: 0;}
.photo{background-image: url(./img/3.jpg);
   width:100%;
   height: 250px;
 
    background-size:cover;

    }}
.photo:hover{background-image:url(./img/2.jpg)}

#cont2{
    display: flex;justify-content:center;
}
.text1{width:100%;padding: 20px;
    background-color: azure;
    text-align: center;}
.text1:hover{background-color: rgb(226, 242, 245);
color: coral;
padding: 10px;}

.text{padding: 20px;
text-align: center;
}
.text:hover{padding: 10px;
    color: rgb(58, 7, 51);
    background-color: rgb(187, 219, 238);}

#img_1{
   width: 100%;
    height: 300px;
}
.last{color: rgb(255, 253, 253);
    text-align: center;
    background-color: rgb(67, 90, 112);}
    #img_1:hover{padding: 10px;}