$color_brown:rgb(100, 65, 9);
$color_yellow:#6e32b3;
$color_blue:rgba(139, 247, 187, 0.685);
$color_bluebb:#cbeaf7b6;
$color_green:green;
$color_white:white;
$color-pink:pink;
$title: 35px;
$font_size:35px;


html {
    scroll-behavior: smooth;

}

body{margin: 0;}
a{color: $color_brown;}
a:hover{color: $color_yellow;}


.trapezoid{
    width:100%;height:calc(100vh - 100px);
    background-color:$color_bluebb;
    clip-path: polygon(0 0, 25% 0, 75% 100%, 0% 100%);
}

.navbar-nav {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    margin:auto;
    // transform: translateX(-22.5%);

}


.bg-op {
    background-color: rgba(185, 225, 248, 0.199) !important;
}

.bg-op-dark {
    background-color: rgba(202, 140, 82, 0.918) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(7, 109, 150);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(231, 20, 238);
}

@media(max-width: 960px) {
    .navbar-nav {
        margin: 0 auto;
        transform: unset;

    }

    .bg-op {
        background-color: rgb(110, 155, 240) !important;
    }

    .white {
        color: rgba(0, 0, 0, 0.5) !important;
    }
}

.box{width: 100%;background-color:$color_blue;
display: flex;justify-content: center;
}
.title{font-size:$title;
width: 1140px;
text-align: center;}

.conter_1{display: flex;justify-content:center ;
         background-color:$color_bluebb;
         padding: 0;   
       .text{ color:$color_brown;
         padding:30px 0px;
     
text-align:center;
font-family: 'Times New Roman', Times, serif;

}}

.last{color: rgb(4, 3, 65);
    text-align: center;
    font-size: 20px;
    background-color: rgb(137, 174, 209);}


.name{position: fixed;z-index: 999;
    margin-top: 300px;
    margin-left: 200px;

color: $color_yellow;
font-size: 30px;
}

.name:hover{color: royalblue;
font-size: 100px;}

    .opening {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        animation-name: fadeOut;
        animation-delay: 2s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .box {
        width: 100%;
        height: 10vh;
        background-color: rgb(202, 195, 245);
    }

    .boxL {
        animation-name: LeftToRight;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }

    .boxR {
        animation-name: RightToLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }


    @keyframes LeftToRight {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes RightToLeft {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
 

// 動畫


.aaa{display:flex; width: 100%;
height: calc(100vh - 100px);

}

.b{display: none;}
    .bbb{color: green($color: #000000);
        text-align: center;
border-radius: 20px;
        padding: 20px;
        width: 100px;
        height: 100px;
        background-color: rgb(177, 191, 235);


        /* 套用的動畫名稱 */
        animation-name: move;

        /* 播放持續的時間 */
        animation-duration: 3s;

        /* 播放延遲 */
        animation-delay: 2s;

        /* 播放次數   infinite無限輪迴 */
        animation-iteration-count: infinite;

        /* 動畫播放方向 */
        /* animation-direction: alternate; */

        /* 如果動畫不是無限輪迴 動畫結束時停留的位置 */
        animation-fill-mode: forwards; 

        /* 時間函式 */
        animation-timing-function:cubic-bezier(.15,.69,.26,.92);

    }


    @keyframes move{
      

        0%{
            transform: translate(-400,100) rotate(10deg);
        }

        25%{
            transform: translate(-400px,100);
        }

        50%{
            transform: translate(-400px,100px) scale(4,3);
        }

        75%{
            transform: translate(-400px,100px);
        }

        100%{
            transform: translate(0,0) rotate(720deg);
        }
    }
 
@media(max-width:576px){
    
    .bbb{width: 300px;height:300px;
    
    
        @keyframes move{
      

            0%{
                transform: translate(0px,50px) rotate(10deg);
            }
    
            25%{
                transform: translate(0px,50px);
            }
    
            50%{
                transform: translate(0px,50px) scale(0.5);
            }
    
            75%{
                transform: translate(0px,50px);
            }
    
            100%{
                transform: translate(0,0) rotate(720deg);
            }
        }
     
    }
.trapezoid{background-color: cornflowerblue;
    width: 300px;height:calc(100vh - 100px);}
.name{position: fixed;z-index: 999;
margin-left: 5px;
margin-top: 300px;
}
.name:hover{font-size: 33px;
color: crimson;
}
.aaa{background-color: rgb(193, 234, 250);}
.b{
    color: rgb(243, 247, 242);display: block;
}
.box{background-color:rgb(30, 184, 176);}
.bbb{border-radius: 50%;
    background-color: rgb(107, 174, 179);}
.opening{background-color: rgb(209, 116, 147);}
}